      <section id='welcome_index'>
        <h2> Welcome to Mootech </h2>
        <p> You are visiting Mootech, the place where Moo's invent new things
        and they <em class='stroke'>try to conquer the world</em> try to make
        people a little happier.</p>
        <p> What you are going to find here, are services of various kinds,
        but mostly ebook account services.</p>
      </section>
