      <section id='internal_error'>
        <h2> Error 500 - That&apos;s not a moo </h2>
        <p> I don&apos;t know what that is, but it is not a moo.
        I look into it! </p>
      </section>
