/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require ./themes/mootech.scss
 *= require_self
 */

@import 'themes/mootech';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: darken($font_color, 5%);
  text-decoration: none;
}

body {
  background-color: $primary_color;
  color: $font_color;
  text-align: center;
  border: 6px solid lighten(saturate($highlight_color, 20%), 20%);
  min-height: 100vh;
}

header {
  background-color: lighten($primary_color, 5%);
  border-bottom: 3px solid lighten(saturate($primary_color, 10%), 30%);
  margin-bottom: 24px;
  h1 {
    padding: 6px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  nav {
    background-color: lighten($secondary_color, 7%);
    border-top: 3px solid lighten(saturate($primary_color, 10%), 30%);
    font-size: 0;
    a {
      background-color: darken($secondary_color, 0%);
      padding: 12px;
      display: inline-block;
      font-size: 15px;
      &.active {
        background-color: darken($secondary_color, 7%);
      }
    }
  }
}

main {
  section {
    border: solid darken($secondary_color, 20%);
    border-width: 3px 0;
    h2 {
      background-color: $secondary_color;
      padding: 6px;
    }
  
    p {
      padding: 12px 6px;
      background-color: darken($secondary_color, 5%);
      &:nth-child(even) {
        background-color: darken($secondary_color, 10%);
      }
    }
  }
}

footer {
  margin-top: 24px;
  background-color: lighten($primary_color, 5%);
  border: solid lighten(saturate($primary_color, 10%), 30%);
  border-width: 3px 0;
  section {
    padding: 6px;
    &#art_copyright {
     border-bottom: 1px solid darken($font_color, 10%); 
    }
  }
}

.stroke {
  font-style: normal;
  text-decoration: line-through;
}
