      <nav>
        <%= link_to 'Login', login_path,
          class: current_path?(login_path) %>
        <%= link_to 'Register', register_path,
          class: current_path?(register_path) %>
      </nav>
